<component name="libraryTable">
  <library name="SpringMVC">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/SpringMVC/src/main/webapp/WEB-INF/lib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/SpringMVC/src/main/webapp/WEB-INF/lib" recursive="false" />
  </library>
</component>